a{
    text-decoration:none;
    color:aquamarine
    
}
li{
    list-style: none;
    display:inline;
    margin:20px;
    width:100%;
    
}
li:hover{
    background-color:red;
}
img{
    height:600px;
    width:100%;
}
figcaption{
    text-align:center;
}
h5{
    text-decoration: underline red 2px;
}
div{
    background-color:black;
    text-align: center;
    padding:5px;
}
b{
    text-align:center;
    display:block;
}